.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* background-color: rgba(159, 159, 159, 0.50); */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
    z-index: 2;
}

.contact_form_amts {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin: 0 15px;
    box-sizing: border-box;
    z-index: 999;
}

.popup_active {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease 0s;
}

.res {
    background-color: #f4f4f4;
    color: red;
}

.contact_form_input {
    /* margin-bottom: 20px;
    background-color: #190C26;
    border: 1px solid #000;
    color: #000 !important;
    padding: 15px;
    border-radius: 50px; */
}

.contact_form_input::placeholder {
    /* opacity: 0.5;
    color: #000 !important; */
}

.err_message {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 15px;
    color: #C52552;
    background-color: #fff;
    border: 2px solid #E0D8D6;
    text-align: center;
    box-shadow: 0 15px 30px -18px rgb(0 0 0 / 90%);
    opacity: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   border-radius: 20px;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    visibility: hidden;
}

.err_message_ative{
    opacity: 1;
    z-index: 9999;
    visibility: visible;
    transition: all 0.5s ease 0s;
}



.btn_popup {
    border: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 55px;
}

.btn_submit {
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    background-color: #0260A2;
}

.btn_submit:hover {
    background-color: #0080DA;
}

.btn_submit:active {
    background-color: #043C64;
}

.btn_prev,
.btn_next {
    border: 0;
    color: #0260A2;
    background-color: #fff;
}

.btn_prev:active,
.btn_next:active {
    background-color: #F1F1F1;
}

.clouse_wrapper {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 18px;
    height: 18px;

}

.contact_form_amts .clouse {
    position: relative;
    cursor: pointer;

}

.contact_form_amts .clouse::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 20px;
    background: #0260A2;
    transform: rotate(45deg);
}

.contact_form_amts .clouse::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 20px;
    background: #0260A2;
    transform: rotate(-45deg);
}

.popup_title {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin: 0;
}


.tab {
    display: none;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 40px;
}

.tab_active {
    display: flex;
}

.tab_two{
    row-gap: 0;
}

.fio_wrapper, .connection_wrapper, .residence_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.connection_wrapper{
    margin-top: 40px;
}

.residence_wrapper{
    row-gap: 40px;
}

.contact_form_amts input {
    color: #0260A2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    padding: 9px 18px 10px 18px;
    outline: none;
    border-radius: 18px;
    border: 1px solid #0260A2;
}

.contact_form_amts textarea{
    outline: none;
}

.contact_form_amts input::placeholder {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #C3C3C3;
}

.contact_form_amts textarea::placeholder{
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #C3C3C3;
}

.contact_form_amts input:focus{
    border: 2px solid #0260A2;
}

.contact_form_amts textarea:focus{
    border: 2px solid #0260A2;
}

.btn_submit {
    align-self: center;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.tab_one .pagination{
    margin-top: 30px;
}

.tab textarea{
    color: #0260A2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    padding: 9px 18px 10px 18px;
    border-radius: 18px;
    border: 1px solid #0260A2;
}

.pagination .btn_popup{
    margin-top: 0;
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.input_wrapper input[name=points]{
    margin-top: 20px;
}

input[name=average]{
    margin-top: 30px;
}

textarea[name=whyyou]{
    margin-top: 40px;
    height: 100px;
}

.agree_wrapper{
    margin-top: 30px;
}

.input_wrapper span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.contact_form_amts .err{
    border: 1px solid #C52552;
}

.agree_label .err{
    color: 1px solid #C52552;
}

.err_color{
    color: #C52552;
}

.err_color a{
    color: #C52552;
}

.agree_link{
    text-decoration: underline;
}


@media (min-width: 1024px) {
    .contact_form_amts {
        width: 640px;
    }

    .err_message{
        width: 640px;
    }

}

@media (max-width: 768px) {
    .contact_form_amts {
        width: 394px;
    }
    .contact_form_amts input {
        font-size: 14px;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 10px;
        padding-right: 10px;
        
    }

    .err_message{
        width: 394px;
    }

    .btn_prev,
    .btn_next{
        font-size: 16px;
    }
    .agree_label{
        font-size: 16px;
    }
    .input_wrapper span {
        font-size: 12px;
    }
    .contact_form_amts input {
        font-size: 14px;
        
    }
    input[name=average]{
        margin-top: 30px;
    }

    .input_wrapper input[name=points]{
        margin-top: 16px;
    }
    textarea[name=whyyou]{
        height: 116px;
    }

}

@media (max-width: 767px) {
    .contact_form_amts {
        width: 328px;
    }
    .contact_form_amts input {
        font-size: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .err_message{
        width: 328px;
    }
    .agree_label{
        font-size: 14px;
    }
    .input_wrapper input[name=points]{
        margin-top: 16px;
    }
    .connection_wrapper{
        margin-top: 30px;
    }

    .residence_wrapper{
        margin-top: 30px;
    }
    
    .residence_wrapper{
        row-gap: 30px;
    }
    .tab{
        row-gap: 0;
        margin-top: 30px;
    }

    input[name=average]{
        margin-top: 30px;
    }

    textarea[name=whyyou]{
        margin-top: 30px;
    }
}