/* @font-face {
  font-family: "onest-bold";
  src: url(../fonts/Onest-Bold.woff);
}

@font-face {
  font-family: "onest-bold";
  src: url(../fonts/Onest-ExtraBold.woff);
}

@font-face {
  font-family: "onest-extrabold";
  src: url(../fonts/Onest-ExtraBold.woff);
}

@font-face {
  font-family: "onest-medium";
  src: url(../fonts/Onest-Medium.woff);
}

@font-face {
  font-family: "onest-regular";
  src: url(../fonts/Onest-Regular.woff);
} */

/* var */

:root {
  /* font */
  --regular: 'Onest';
  --bold: 'Onest';
  --extrabold: 'Onest';
  --medium: 'Onest';
  --fs12: '12px';
  --fs14: '14px';
  --fs16: '16px';
  --fs18: '18px';
  --fs22: '22px';
  --fs24: '24px';
  --fs48: '48px';

  /* color */
  --blue: #0260A2;
  --darkblue: #043C64;
  --pink: #C52552;
  --pink-lite: #E12F61;
  --pink-dark: #AC2C51;
  --white: #fff;
  --gray: #F6f6f6;
  --gray-dark: #807C7D;

  /* animation */
  --ease-in-out: 0.3s ease-in-out;

}

/* @import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;700;800&display=swap'); */

html,
body {
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--blue);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

body,
div,
main,
section,
article,
nav,
aside {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}

main {
  flex-grow: 1;
}

h1 {
  font-family: var(--extrabold);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

h2 {
  font-family: var(--bold);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

h4 {
  font-family: Onest;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.title {
  margin-top: 0;
}

.container_fluid {
  background-color: var(--gray);
}

.container {
  margin: 0 auto;
  width: 100%;

}

.wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}

.btn {

  display: flex;
  align-items: center;
  column-gap: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 50px;
  font-family: Onest;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.btn::after {
  content: url(../img/btn-arrow.svg);
  padding-top: 8px;
}

.btn_pink {
  border: var(--pink);
  background-color: var(--pink);
  color: var(--white);
}

.btn_pink:hover {
  background-color: var(--pink-lite);
  transition: all 0.4s linear 0s;
}

.btn_pink:active {
  background-color: var(--pink-dark);
  transition: all 0.4s linear 0s;
}

.btn_border {
  border: 2px solid var(--pink);
  color: var(--pink);
  background-color: var(--gray);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  padding-right: 8px;
}

.btn_border::after {
  content: url(../img/btn-arrow-pink.svg);
}

.btn_border:hover {
  background-color: var(--pink-lite);
  color: var(--white);

}

.btn_border:hover::after {
  content: url(../img/btn-arrow-white.svg);
}


@media (min-width: 320px) {
  .container {
    max-width: 300px;
  }
}

@media (min-width: 360px) {
  .container {
    max-width: 320px;
  }
}

@media (min-width: 480px) {
  .container {
    max-width: 440px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 536px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 668px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 984px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}


a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  color: var(--darkblue);
}

a:active {
  color: var(--darkblue);
}

img {
  width: 100%;
  height: auto;
}


/* header */

.header_wrapper {
  display: flex;
  justify-content: space-between;

}

.nav_list {
  display: flex;
  column-gap: 33px;
  list-style: none;
  font-family: var(--regular);
  font-size: 18px;
}

.header_logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.logo_img {
  height: 40px;
}

.logo_text {
  font-size: 14px;
}

.btn_menu,
.clouse {
  display: none;
}

.nav_mobile {
  display: none;
}

@media (min-width: 768px) {
  header {
    padding: 12px 0;
    position: relative;
  }

  .header_wrapper {
    align-items: center;

  }

  .header_logo {
    align-items: center;
  }

  .btn_menu,
  .clouse {
    display: block;
  }

  .nav_list {
    display: none;
  }

  .logo_img {
    height: 29px;
    width: 25px;
  }

  .logo_text {
    font-size: 12px;
    line-height: normal;
  }

  .nav_mobile {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--white);
    list-style-type: none;
  }
}



/* hero */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.hero_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(../img/hero-gerb.svg);
  background-repeat: no-repeat;
  background-position: 50% 0;

}

.first_item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 15px;
}

.hero_title {
  font-family: Onest;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.hero_slogan {
  font-family: Onest;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  text-transform: uppercase;
}

.hero_description {
  font-family: Onest;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.btn_hero {
  margin-top: 80px;
}

/* about */

.about_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 67px;
  padding-top: 50px;
}

.item_text {
  font-family: Onest;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* start_career */

.start_career {
  background-repeat: no-repeat;
  position: relative;
}

.start_cloud {
  position: absolute;
  left: 0;
  top: 17%;
  width: 530px;
}

.start_man {
  position: absolute;
  height: 347px;
  width: 144px;
  left: 5%;
  top: 18%;
}

.start_flag {
  position: absolute;
  right: 2%;
  top: 19%;
  width: 135px;
}

/* .start_item_wripper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  column-gap: 20px;
  margin-top: -200px;

} */

/* .start_item {
  background-color: var(--white);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;

} */

.start_item_step {
  transform: translateY(-50px);
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  height: 14px;
  padding: 0;
  margin-left: -10px;
  margin-right: -10px;
}

.start_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 210px;
}

.start_title {
  margin-top: 0;
}


/* .dark_gray {
  height: 14px;
  background-color: #C7C6C6;
}

.gray {
  height: 14px;
  background-color: #E6E6E6;
} */

/* .start_item_header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 50px;
  background-color: var(--blue);
  color: var(--white);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  font-family: var(--medium);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
} */

/* .start_item_year {
  font-family: var(--bold);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
}

.start_item_text {
  font-family: var(--medium);
  font-size: 16px;
  font-style: normal; font-weight: 500;
  line-height: 130%;
  text-align: center;
} */




/*success story*/

.success_story_wrapper {}

.loop_item_img {}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}


/*accordion*/

.choose_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

}

.accordion_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accordion_item_img {
  width: 62px;
  height: 62px;
  margin-right: 50px;
}

.accordion {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: left;
  font-size: 20px;
  line-height: 26px;
  margin-top: 0;
  padding-top: 20px;
  position: relative;
}

.accordion_title {
  padding-right: 30px;
}

@media (min-width: 1024px) {
  .accordion_item_img {
    width: 44px;
    height: 44px;
    margin-right: 20px;
  }

  .accordion_title {
    font-size: 21px;
    padding-right: 20px;
  }
}

.accordion_content {
  transition: 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
  border-bottom: 1px solid var(--blue);
}

.choose .accordion_item:last-child .accordion_content {
  border-bottom: none;
}

.accordion:after {
  content: '';
  position: absolute;
  right: 0;
  background-image: url("../img/accordion-arrow.svg");
  background-size: 100% 100%;
  height: 20px;
  width: 20px;
  transition: all 0.4s linear 0s;

}

.active.accordion {
  border-bottom: 0;
}

.active.accordion:after {
  transform: translate(-2px, 0) rotate(180deg);
  transition: all 0.4s linear 0s;
}

.accordion_text {

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  padding-bottom: 20px;
  transition: all 0.3s linear 0s;
}

@media (max-width: 768px) {
  .accordion {
    font-size: 20px;
    line-height: 26px;
    max-width: calc(100% - 30px);
  }
}

@media (max-width: 768px) {
  .accordion_title {
    max-width: calc(100% - 15px);
  }
}

@media (max-width: 360px) {
  .accordion_title {
    max-width: calc(100% - 11px);
  }
}

/* if you */

.ifyou_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 22px;
}

.iftoy_img {
  display: flex;
  align-items: center;
}

.ifyou_item_list {
  padding-top: 17.4px;
  padding-bottom: 17.4px;
  border-bottom: 1px solid var(--blue);
  font-family: Onest;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

@media (min-width: 1024px) {
  .ifyou_item_list {
    font-size: var(--fs22);
  }

}

.ifyou_colltoaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.btn_ifyou {
  margin-top: 46px;
}

/* stages */

.stages_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  margin-top: 50px;
}

.stages_item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 46px 44px 27px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.05);
}

.stages_arrow {
  position: absolute;
  left: 89%;
  top: 34%;

}

.stages_item:last-child .stages_arrow {
  display: none;
}

.stages_img {
  height: 40px;
}

.stages_text {
  font-family: Onest;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
}

@media (min-width: 1024px) {
  .stages_text {
    font-size: var(--fs22);
  }
}

.stages_arrow {
  width: 61px;
  height: 61px;
}

/* stories */

.swiper-slide {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr 1fr;
  justify-items: center;
  background-color: var(--white);
  padding: 30px 15px 30px 16px;
  border-radius: 10px;
  text-align: center;
  height: auto;
}


.slider_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.slider_title {
  margin: 0;
  margin-top: 20px;
  font-family: Onest;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.desription_wrapper {
  border-bottom: 1px solid var(--blue);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -10px;
  /* justify-self: start; */
}

.slider_desription {
  font-family: Onest;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding-bottom: 20px;
  white-space: pre-line;
}

.achievements {
  font-family: Onest;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* flex-grow: 1; */
  white-space: pre-line;
}

.slider_navigation {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-top: 60px;
}

.btn_slider {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.btn_slider svg {
  fill: var(--white);
  transition: var(--ease-in-out);
}

.btn_slider:hover svg {
  fill: var(--gray);
  transition: var(--ease-in-out);
}

.slider_pagination {
  display: flex;
  align-items: center;
  width: auto;
  column-gap: 4px;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

/* faq */

.faq {
  display: flex;
  align-items: start;

}

.faq_img {
  /* width: 135px; */
  /* height: 489px; */
  margin-right: 85px;
}

.faq_img img {
  width: auto;
}

.faq .accordion_wrapper {
  /* display: flex; */
}

.faq .accordion_list {
  display: block;
}

.faq .accordion_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.faq .accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: left;
  font-size: 20px;
  line-height: 26px;
  margin-top: 0;
  padding-top: 20px;
  position: relative;
}

.faq .accordion_content {
  transition: 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
  border-bottom: 1px solid var(--blue);
}

.faq .accordion_text {
  margin: 0;
  padding-bottom: 20px;
  transition: all 0.3s linear 0s;
}

.noanswer {
  color: var(--pink);
  font-family: Onest;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.sendme {
  margin-top: 30px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

}

.faq_text_wrapper {
  margin-top: 90px;
}

.sendme a {
  text-decoration-line: underline;
}

.container_footer {
  background-color: var(--blue);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer_logo {
  width: 48px;
  height: 50px;
}

.footer_text {
  color: var(--white);
}



.footer_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.social_link {
  height: 20px;
}